[Unit]
Description= execute read_data.py every 10 seconds

[Timer]
OnUnitActiveSec=10s
AccuracySec=100ms
OnBootSec=10s

[Install]
WantedBy=timers.target
